@import url(./transition-group.scss);

@import url(./blog/app.min.scss);
@import url(./blog/custom.scss);
@import url(./blog/index.scss);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

::selection {
  background: rgb(249, 6, 6, 0.05);
  color: #f90606;
}

html.dark ::selection {
  background: rgb(251, 81, 81, 0.1);
  color: #fb5151;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: theme('colors.brand');
  transition: 0.25s;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: 0 0;
}

/* heading anchor */
.prose .anchor {
  @apply invisible absolute;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: calc(768px + 1em);
  cursor: pointer;
  border: 0 !important;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose a.anchor {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}
